{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "eslint:recommended", "prettier"],
  "plugins": ["import", "unused-imports"],
  "env": { "node": true },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
      }
    },
    {
      "files": ["__tests__/**/*.ts"],
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "max-len": ["off", 160],
    "import/no-default-export": "error",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript/no-var-requires": "off",
    "@typescript-eslint/no-var-requires": "off",
    "unused-imports/no-unused-imports": "warn",
    "no-undef": "warn",
    "@typescript-eslint/typedef": [
      "off",
      {
        "arrowParameter": false,
        "variableDeclaration": true
      }
    ]
  }
}
